streamlit==1.37.1
pandas==2.2.2
numpy==1.26.4
plotly==5.22.0
scikit-learn==1.5.1
statsmodels==0.14.2

# penting biar statsmodels cocok
scipy==1.11.4

matplotlib==3.9.0
folium==0.16.0
pyarrow==22.0.0
